extends layout
block head
	head
		title Register-SharedFi
block content
	span(ng-app='testApp' ng-controller='test as test1')
		button(ng-click='onClick()') Accept
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
	script(src="https://code.jquery.com/jquery-1.11.3.min.js")
	script(src="/ng/testApp.js")
